<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="https://github.com/gamabuda/Image2ASCII">
            <img src="/images/logo.png" alt="" width="30" height="25" class="d-inline-block align-text-top">
            Image2ASCII
        </a>
    </div>
</nav>

@code {

}

