@inherits LayoutComponentBase

<PageTitle>Image2ASCII</PageTitle>

<div class="main">
    <NavbarComponent></NavbarComponent>
    <main>
        <div class="px-4 content">
            @Body
        </div>
    </main>
</div>

